<html>
    <head>
       <style>
            .page1{
                background-color: rgb(152, 95, 226);
                width: 500px;
                height: 500px;
               margin-left: 30%;
               text-align: center;
               text-shadow: royalblue;
               
            }
            #h{
                margin-bottom: 20%;
                margin-top: 20px;
            }
           
       </style>
    </head>
    <body>

        <div class="page1">
            <h1 id="h">Home Page</h1>
            
                <button><a href="/login">Login</a></button>
                <button><a href="/register">Register</a></button>
                <button><a href="/logout">Logout</a></button>
            
                
        </div>
    </body>
</html>