<html>
    <head>
        <style>
            .page3{
                background-color: rgb(187, 224, 83);
                width: 500px;
                height: 500px;
               margin-left: 30%;
               text-align: center;
               text-shadow: royalblue;
               
            }
        </style>
    </head>
    <body>
        <div class="page3">
            <h1>
                SignUp Page
            </h1>
            <form action="/register" method="POST">
                <label for="username">UserName</label><br>
                <input type="text" id="username" name="username">
                <br>
                <br>
                <label for="password">Password</label><br>
                <input type="password" id="password" name="password">
                <br>
                <br>
                <label for="phone">Mobile No</label><br>
                <input type="text" name="phone" id="phone">
                <br>
                <br>
                <label for="telephone">TelePhone No</label><br>
                <input type="text" name="telephone"id="telephone">
                <br>
                <br>
                <button>Submit</button>
            </form>
            
           
                <br>
                <br>
                <button><a href="/">Home</a></button>
                <br>
                <br>
                <button><a href="/login">login</a></button>
            
        </div>
    </body>
</html>